body, html {
height: 100%;
}
.bg {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ31SW3jHuRQfyhDysiCL7MjzVc8Syj3QNPZtS5qijTaiVYp392");
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}